<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1 style="background-color: black; color: white; text-transform: uppercase;">hello,this text is coming directly from html file</h1>
    <% if (user) { %>
  <h2>i m <%= user %> 
<a href="/logout">logout</a></h2>
<% } %>

    <%- include('./about'); %>.
</body>
</html>